.header{
    background: $bg-py;
    
}
.navbar{
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &__logo{
        font-size: 32px;
        user-select: none;
    }
    &__collection{
        display: flex;
        gap: 40px;
        align-items: center;
        color: $bg-it;
    }
    &__item{
        list-style: none;
        font-size: 18px;
        color: $bg-it;
        transition: 1.2s;
        &:hover{
            color: gold;
            cursor: pointer;
        }
    }
    &__menu{
        display: none;
    }
    &__btn{
        padding: 10px 20px;
        border: none;
        color: $bg-it;
        background-color: white;
        transition: 1s;
        border-radius: 20px;
        font-size: $fs-text;
        &:hover{
background-color: $bg-it;
color: gold;
        }
    }
}





@media (
    max-width:755px) {
    .navbar{
        &__collection{
            display: none;
        }
        &__menu{
            display: block;
        }
    }
}
@media (max-width:345px) {
    .navbar{
        &__logo{
            font-size: 24px;
        }

    }
}

